/* Navigation Bar Styles */
.navbar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(158deg, rgb(58, 149, 246) 20%, rgb(122, 20, 255) 100%);
    color: white;
    height: 50px;

    /* Add moving background effect */
    animation: moveBackground 3s linear infinite;
    background-size: 200% 100%;
}

html {
    scroll-behavior: smooth;
}

/* Optional: Add a smooth scroll animation */
@keyframes smoothScroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes moveBackground {
    0% {
        background-position: 200% 100%;
    }

    50% {
        background-position: 150% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    0% {
        background-position: 0% 100%;
    }
}

.logo {
    display: inline-block;
    padding: 10px;
}

.logo img {
    max-width: 90px;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: auto;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(58, 149, 246);
}

.hamburger {
    display: none;
}

.nav-login-links {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

.nav-login-links li {
    margin-left: 20px;
}

.nav-login-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-login-links a:hover {
    color: rgb(58, 149, 246);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 1;

        li {
            margin: 0;
            padding: 10px 20px;
            text-align: center;
            border-bottom: 1px solid white;

            a {
                color: white;
                transition: color 0.3s ease;
            }
        }
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }

    .hamburger .bar {
        width: 25px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
        transition: transform 0.3s ease;
    }

    .hamburger.active .bar {
        transform: rotate(90deg) translate(1px, -11px);
        margin: 0;
    }

    .hamburger.active .bar-2 {
        transform: rotate(90deg) translate(-3px, -1px);
        margin: 0;
    }

    .hamburger.active .bar-3 {
        transform: rotate(90deg) translate(-7px, 9px);
        margin: 0;
    }

    .nav-active .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: 1;
    }

    .nav-links li {
        border-bottom: none;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }

    .logo {
        padding: 5px;
    }

    .logo img {
        max-width: 100px;
    }
}
