.passwordfield-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.passwordfield-input-container {
  width: 350px;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 25px;
}

.passwordfield-input {
  box-sizing: border-box;

  background: transparent;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color); /* Use the default border color */
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.passwordfield-input:focus {
  border-color: yellow;
}

.passwordfield-label {
  font-family: poppins;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

.passwordfield-light {
  position: absolute;
  right: 3px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: larger;
}

.passwordfield-beam {
  position: absolute;
  top: 33%;
  right: 20px;
  transform: translate(0, -50%);
  clip-path: polygon(0 0, 0% 100%, 104% 50%);
  background: yellow; /* Yellow with 50% opacity */
  width: 100vw;
  height: 25vh;
  mix-blend-mode: multiply; /* Adjust or remove this depending on your needs */
  z-index: 1;
  transition: 0.2s ease-out;
  transform-origin: 100% 50%;
  pointer-events: none;
  max-height: 0; /* Ensure this is intended; otherwise, remove it */
  overflow: hidden;
}
.rotate-light {
  transform: rotate(-90deg);
}
.passwordfield-beam.on {
  max-height: 25vh;
}
@media (max-width: 768px) {
  .passwordfield-beam {
    height: 12vh;
  }
}
