.counting-container {
  background-color: white;
  border-radius: 10px;
  padding: 40px 90px 40px 90px;
  margin: 10px;
  box-shadow: 0px 4px 20px rgb(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 30%;
  font-size: medium;
  font-weight: 500;
}

.counting-number {
  display: inline-block;
  text-align: center;
}

.container-numbers {
  color: black;
}
.font-multiColor {
  background: linear-gradient(
    200deg,
    rgb(92, 196, 184) 50%,
    rgb(42, 83, 231) 100%
  );
  background-clip: text;
  font-size: large;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  font-family: "Audiowide";
  padding-top: 10px;
}
.services-card {
  background-color: white;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  animation: slide-up 2s ease forwards;
  transition: transform 1s ease, height 1s ease;
  position: relative;
  overflow: hidden;
  
}

@keyframes slide-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
    box-shadow: 0px 4px 20px rgb(148, 205, 198);
  }
  50% {
    box-shadow: 0px 8px 30px rgb(123, 184, 200);
  }
  75% {
    box-shadow: 0px 12px 40px rgb(112, 149, 201);
  }
  85% {
    box-shadow: 0px 12px 40px rgb(42, 83, 231);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0px 4px 20px rgba(146, 146, 146, 0.4);
  }
}

.services-card:hover {
  transform: scale(1.2) translateY(50px);
  height: 350px; /* Adjust this value depending on your design */
}
.icon {
  color: "#3f3f3f";
}
.description {
  opacity: 0;
  max-height: 0;
  transition: opacity 1s ease, max-height 1s ease;
  text-align: center;
  font-family: "Audiowide";
}

.services-card:hover .description {
  opacity: 1;
  max-height: 220px; /* Adjust this value depending on your content */
}
.opacity {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.services-card:hover .opacity {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.divider {
  height: 50px;
  width: 1px;
  background: linear-gradient(
    158deg,
    rgb(58, 149, 246) 20%,
    rgb(122, 20, 255) 100%
  );
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
  margin-left: 20px;
}

.achievements {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-top: 20px;
  color: whitesmoke;
}
.description-counter {
  color: dimgrey;
  font-size: small;
  white-space: pre-line;
}
.typing-animation {
  color: rgba(148, 205, 198, 255);
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Audiowide";
}

@media (max-width: 768px) {
  .counting-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px 90px 40px 90px;
    margin: 10px;
    box-shadow: 0px 4px 20px rgb(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    font-size: medium;
    font-weight: 500;
  }
}
