.login-p {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.login-notLink {
  text-decoration: none;
}

.login-link {
  padding: 10px;
  color: #0056b3; /* Default link color */
  display: inline-block; /* Ensure padding works correctly */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.login-link:hover {
  color: #003d80; /* Darker color on hover */
}

/* Define a CSS variable for border color */
:root {
  --input-border-color: #ccc; /* Default border color */
  --input-border-color-focus: blue; /* Border color on focus */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  margin-top: -60px; /* Move everything up */
}

/* .login-logo {
  width: 240px; 
  margin-bottom: 20px;
} */

.login-letter {
  margin-bottom: 30px;
  color: rgba(148, 205, 198, 255);
  font-family: "Audiowide";
}
.login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.login-form .login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form .login-form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form .login-form-group input {
  padding: 10px;
  border: 1px solid var(--input-border-color); /* Use the default border color */
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.login-form .login-form-group input:focus {
  border-color: var(
    --input-border-color-focus
  ); /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.login-form .login-submit-button {
  padding: 10px;
  border: none;
  background-color: rgba(148, 205, 198, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.login-form .login-submit-button:hover {
  background-color: #00a88b;
  transform: scale(1.05);
}
