.user-homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo {
  width: 180px;
}

.website-info {
  flex: 1;
  text-align: center;
}

.website-name,
.website-description {
  margin: 0;
  display: block;
}

.website-name {
  font-size: 38px;
  font-family: "Audiowide";
  color: rgba(148, 205, 198, 255);
  margin-bottom: 10px;
}

.website-description {
  font-size: 18px;
  color: rgba(148, 205, 198, 255);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.user-name {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.profile-button {
  padding: 5px 10px;
  border: none;
  background-color: rgba(148, 205, 198, 255);
  color: black;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.profile-button:hover {
  background-color: #00a88b;
}

.left-side,
.right-side {
  display: flex;
  width: 80%;
  padding: 20px;
}

.left-side {
  width: 80%;
  align-items: center;
  justify-content: center;
}

/* New styles for the form on the left side */
.programming-area-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  color: rgba(148, 205, 198, 255);
  width: 60%;
}

.programming-area-form label,
.programming-area-form p {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Audiowide";
}

.programming-area-form input[type="text"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-button {
  padding: 10px;
  margin-top: 30px;
  border: none;
  background-color: rgba(148, 205, 198, 255);
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform for animation */
  transform: translateY(0); /* Default position */
}

.create-button.active {
  transform: translateY(100px); /* Move down when active */
}

.create-button:hover {
  background-color: #00a88b;
}

.react-select__control {
  border: 1px solid var(--input-border-color); /* Use the default border color */
  border-radius: 5px;
  padding: 5px;
  transition: border-color 0.3s ease;
  min-width: 200px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .website-name {
    font-size: 22px;
  }

  .content-container {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
  }
}
