.user-homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo {
  width: 180px;
}

.website-info {
  flex: 1;
  text-align: center;
}

.website-name,
.website-description {
  margin: 0;
  display: block;
}

.website-name {
  font-size: 38px;
  font-family: "Audiowide";
  color: rgba(148, 205, 198, 255);
  margin-bottom: 10px;
}

.website-description {
  font-size: 18px;
  color: rgba(148, 205, 198, 255);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.user-name {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.profile-button {
  padding: 5px 10px;
  border: none;
  background-color: rgba(148, 205, 198, 255);
  color: black;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.profile-button:hover {
  background-color: #00a88b;
}

.content-container {
  display: flex; /* Ensure left and right side are next to each other */
  width: 100%;
  padding: 20px;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; /* Make sure both sides take equal width */
  padding: 20px;
}
.left-side {
  width: 80%;
  align-items: center;
  justify-content: center;
}

.right-side {
  width: 80%;
  align-items: center;
  justify-content: center;
}

/* New styles for the form on the left side */
.programming-area-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  color: rgba(148, 205, 198, 255);
  width: 80%;
}

.programming-area-form label,
.programming-area-form p {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Audiowide";
}

.programming-area-form input[type="text"] {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: rgba(148, 205, 198, 255);
  color: black;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform for animation */
  transform: translateY(0); /* Default position */
}

.create-button.active {
  transform: translateY(60px); /* Move down when active */
}

.create-button:hover {
  background-color: #00a88b;
}

.react-select__control {
  border: 1px solid var(--input-border-color); /* Use the default border color */
  border-radius: 5px;
  padding: 5px;
  transition: border-color 0.3s ease;
  min-width: 200px;
}

.programming-area-form select {
  min-width: 200px; /* Increase min-width */
  height: 50px; /* Adjust height */
  font-size: 16px; /* Increase font size */
  transition: border-color 0.3s ease;
  padding: 10px 40px 10px 10px; /* Adjust padding for larger appearance */
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  background: white
    url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 10px center;
  background-size: 30px;
}

/* New styles for the right side */
.right-side-text {
  font-size: 28px;
  color: rgba(148, 205, 198, 255);
  margin-bottom: 10px;
  font-family: "Audiowide";
  margin-left: -60px;
}

.right-side-button {
  padding: 10px;
  border: none;
  background-color: rgba(148, 205, 198, 255);
  color: black;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -60px;

  transition: background-color 0.3s ease;
}

.right-side-button:hover {
  background-color: #00a88b;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .website-name {
    font-size: 22px;
  }
  .website-description {
    font-size: 13px;
  }
  label {
    text-align: center;
  }

  .programming-area-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
  }
  .programming-area-form input[type="text"] {
    width: 50%;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-right: -10px;
  }

  .content-container {
    flex-direction: column; /* Stack left and right side vertically on small screens */
  }

  .left-side,
  .right-side {
    width: 100%;
  }
  .right-side-button,
  .right-side-text {
    margin-right: 20px;
  }
}
